language: scala
sudo: true
dist: trusty

git:
  depth: 70

cache:
  directories:
  - $HOME/.ivy2
  - $HOME/.sbt

matrix:
  include:
  - jdk: openjdk8
    scala: 2.13.5
  - jdk: openjdk8
    scala: 2.12.13
  - jdk: openjdk8
    scala: 2.13.3
  - jdk: openjdk9
    scala: 2.12.13
  - jdk: openjdk11
    scala: 2.13.3

script: git fetch --tags && ./.ci_scripts/validate.sh
